@import "tailwindcss";

@layer base {
  :root {
    --color-primary: rgb(0, 45, 116);
    --color-secondary: rgb(243, 244, 246);
    --color-text: rgb(0, 45, 116);
    --color-border: rgb(156, 163, 175);
  }
}

@layer utilities {
    .text-primary {
      color: rgb(0, 45, 116);
    }
    .bg-primary {
      background-color: rgb(0, 45, 116);
    }
    .text-secondary {
      color: rgb(243, 244, 246);
    }
    .bg-secondary {
      background-color: rgb(243, 244, 246);
    }
    .border-primary {
      border-color: rgb(0, 45, 116);
    }
    .border-secondary {
      border-color: rgb(0, 45, 116);
    }
}
